#room_3 {
    position: relative;
    z-index: 0;
}

h1 {
    z-index: 4;
    position: absolute;
    width: 40px;
    padding: 6px;
    left: 227px;
    top: 85px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background: #fff;
    color: rgb(155, 34, 74);
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    border: 1px solid black;
  }

div {
    z-index: 4;
    position: absolute;
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#first {
    position: absolute;
    left: 158px;
    top: 98px;
    -webkit-animation: fadein 3s;
    animation-iteration-count: infinite;
}

#second {
    position: absolute;
    left: 165px;
    top: 89px;
    -webkit-animation: fadein 4s;
    animation-iteration-count: infinite;
}

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}